.container {
  width: 300px;
  /* background-color: var(--secondary-bg-color); */
  border-left: 2px solid var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  overflow-y: auto;
  flex-grow: 1;
}

.empty-msg {
  margin: auto;
}

.info-list {
  padding: 1rem;
  background-color: var(--accent-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.actions button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--accent-color);
}
