.container {
  background-color: var(--accent-bg-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn {
  background-color: var(--accent-color);
}

.secondary-btn {
  border: 1px solid var(--accent-color);
}
