.container {
  background-color: lightgrey;
}

.img {
  height: 5rem;
  background-color: lightgreen;
}

.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
