.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: lightgrey;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.active-link {
  font-weight: bold;
}
