.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bg-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}

.navbar {
  width: 60%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.logo-img {
  width: 3rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f76707;
}

.nav-link-list {
  list-style-type: none;

  display: flex;
  gap: 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
}

.nav-link:hover:not(.nav-link-active) {
  background-color: var(--primary-bg-color);
}

.nav-link-active {
  background-color: var(--accent-color);
  cursor: default;
}

.cart-btn {
  border: none;
  background-color: transparent;
  position: relative;
}

.cart-icon {
  width: 2rem;
}

.cart-number {
  position: absolute;
  top: -0.25rem;
  right: -0.75rem;
  background-color: red;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
  color: white;
}
